@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Staatliches");
body {
  max-width: 70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #232323;
  font-family: "Source Sans Pro", sans-serif;
}
body h1, body h2, body h3 {
  font-family: "Staatliches", cursive;
}
body hr {
  padding: 5px;
  background-color: #D4D4D4;
  border: none;
  border-radius: 25px;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: 64% 34%;
  grid-gap: 2%;
}

main h1 {
  text-align: right;
  font-size: 2.5em;
}
main h4 {
  text-align: right;
  margin: -35px 0px;
  padding: 5px 0px 35px;
  color: #7951A8;
  font-size: 1.3em;
}
main h3 {
  font-size: 1.6em;
}
main ul li {
  margin: 5px 0px;
}
main a {
  text-decoration: inherit;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
main a:hover {
  color: #7951A8;
  font-size: 1.1em;
}

.sidebar {
  background-color: #D4D4D4;
  border-radius: 25px;
  padding: 0 15px;
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
}
.sidebar h2 {
  text-align: left;
  color: #7951A8;
  font-size: 1.8em;
}
.sidebar h4 {
  text-align: left;
  font-size: 1.3em;
  margin-left: 1em;
  margin-bottom: 0;
}
.sidebar ul {
  text-align: left;
}
.sidebar p {
  text-align: justify;
  padding: 0 1em;
  margin-left: 1em;
}

.skills-list {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@media print {
  body {
    font-size: 10pt;
    max-width: 100%;
    margin: 0;
  }

  .skills-list {
    margin: 16px 0px;
    padding: 0;
  }

  h1 {
    font-size: 0.8em;
  }

  h4 {
    font-size: 0.6em;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }

  .sidebar h2 {
    font-size: 1.6em;
  }
  .sidebar h4 {
    font-size: 1.3em;
    margin-left: 0.2em;
    margin-top: 0.2em;
  }
  .sidebar ul {
    margin-left: 0;
    padding-left: 13px;
  }
  .sidebar p {
    margin-left: 0.2em;
  }
}
